<!-- ss-input.component.html -->
<ng-container>
    @if (!isCheckbox() && !isRange()) {
        <input [type]="inputType"
               [max]="max"
               [min]="min"
               [value]="getDefaultValue()"
               [(ngModel)]="value"
               [placeholder]="placeholder"/>
    }

    @if (isCheckbox()) {
        <div class="checkbox-container">
            <input [type]="inputType"/>
        </div>
    }

    @if (isRange()) {
        <input [type]="inputType"
               [max]="max"
               [min]="min"
               [value]="value"
               [(ngModel)]="value"
               [placeholder]="placeholder"/>
    }
</ng-container>