// ss-input.component.scss
@use "../../../../styles/globals" as *;


ss-input {
    input {
        width: 100%;
        padding: simplest-calc(0.25);
        border-radius: simplest-calc(0.25);
        border: $muted-blue $thin-border solid;
        box-shadow: $morning-frost-blue 0 0 simplest-calc(0.25);
        transition: box-shadow, margin-left, margin-top, 0.3s;
        font-size: calc($h6-font-size * 1.25);
        &:hover {
            $box-shadow-size: simplest-calc(0.35);
            box-shadow: $morning-frost-blue $box-shadow-size $box-shadow-size;
            cursor: pointer;
        }
    }
    .checkbox-container {
        @include flex(flex-end, center, row);
        input[type="checkbox"] {
            @include square-size($two-percent);
            color: $charcoal;
            &:hover {
                box-shadow: $morning-frost-blue simplest-calc(0.2) simplest-calc(0.2);
            }
        }
    }
}