$pure-white: #ffffff;
$almost-white: #f8f9fa;
$alabaster-stone: hsl(40, 21%, 89%);
$air-blue: #d6e6f3;
$ivory-white: #f4f0e0;
$soft-grey: hsl(180, 10%, 74%);
$muted-blue: rgba(64, 116, 168, 1);
$muted-blue-half-opacity: rgba(64, 116, 168, 0.5);
$morning-frost-blue: hsl(210, 45%, 70%);
$blue-gray: #2c4557;
$midnight-navy: #152f41;
$sunbeam-yellow: #ffe17b;
$black-shadow: rgba(0, 0, 0, 0.1);
$light-charcoal: hsl(0, 0%, 20%);
$charcoal: hsl(0, 0%, 9%);
$neutral-black: hsl(345, 6%, 13%);
$absolute-black: hsl(0, 0%, 0%);
$darker-black-shadow: rgba(0, 0, 0, 0.2);

$bitcoin-color: #F7931A;
$ethereum-color: #6480EB;
$litecoin-color: #375F9E;

