// ss-paragraph.component.scss
@use "../../../../styles/globals" as *;

ss-paragraph {
    @include flex(center, center, column);
    color: $neutral-black;
    background-image: radial-gradient($alabaster-stone, $pure-white);
    border: $light-charcoal $thin-border solid;
    padding: $half-percent $one-percent;
    @extend %soft-border-radius;
}
