// ss-button.component.scss
@use "../../../../styles/globals" as *;

ss-button {
    @include flex(center, center, row);
    box-sizing: border-box;
    position: relative;
    @include flex(center, center, row);
    border-radius: simplest-calc(0.5);
    transition: background-color, box-shadow, transform, 0.3s;
    padding: simplest-calc(0.5) simplest-calc(1);
    //background: radial-gradient(circle, $muted-blue, $blue-gray);
    background-color: $muted-blue;
    flex-basis: $ten-percent;
    h1, h2, h3, h4, h5, h6 {
        //font-size: calc($h4-font-size * 0.85);
        min-width: 11ch;
        color: $pure-white;
        @extend %soft-text-shadow;
    }
    &:hover {
        //background-color: $almost-white;
        $box-shadow-size: simplest-calc(0.25);
        box-shadow: $blue-gray $box-shadow-size $box-shadow-size 0 0;
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
        $top-and-right: simplest-calc(0.25);
        transform: translate($top-and-right, $top-and-right);
    }
}

//ss-button {
//    background-color: $sunbeam-yellow;
//    padding: simple-calc(0.5, 0.25) 0;
//    border-radius: simple-calc(1, 1);
//    width: simple-calc(15, 4);
//    height: simple-calc(3, 2);
//    margin-left: 0;
//    margin-top: 0;
//    text-align: center;
//    @include flex(center, center, row);
//    $square-box-shadow: simple-calc(0.25, 0.25);
//    box-shadow: $blue-gray $square-box-shadow $square-box-shadow;
//    transition: box-shadow, transform 0.3s;
//    &:hover {
//        $square-box-shadow: simple-calc(0.35, 0.35);
//        box-shadow: $blue-gray $square-box-shadow $square-box-shadow;
//        cursor: pointer;
//    }
//    &:active {
//        transition: box-shadow, margin-left, margin-top, 0.15s;
//        $margins-and-box-shadow: simple-calc(0.25, 0.25);
//        box-shadow: $blue-gray 0 0 $margins-and-box-shadow;
//        transform: translate($margins-and-box-shadow, $margins-and-box-shadow);
//    }
//    .inverted {
//        background-color: $sunbeam-yellow;
//        padding: simple-calc(0.5, 0.25) 0;
//        border-radius: simplest-calc(1);
//        width: simple-calc(20, 2);
//        height: simple-calc(4, 2);
//        margin : {
//            top: 0;
//            left: 0;
//        }
//        text-align: center;
//        @include flex(center, center, row);
//        $box-shadow-size: simplest-calc(0.25);
//        box-shadow: $blue-gray $box-shadow-size calc($box-shadow-size * -1);
//        transition: box-shadow, margin-left, margin-top, 0.3s;
//        &:hover {
//            $hover-box-shadow-size: simplest-calc(0.35);
//            box-shadow: $blue-gray $hover-box-shadow-size calc($hover-box-shadow-size * -1);
//            cursor: pointer;
//        }
//        &:active {
//            transition: box-shadow, margin-left, margin-top, margin-bottom, 0.15s;
//            box-shadow: $blue-gray 0 0 $box-shadow-size;
//            $margin-top-and-left: simplest-calc(0.25);
//            margin : {
//                top: calc($margin-top-and-left * -1);
//                left: $margin-top-and-left;
//            }
//        }
//    }
//
//    &.small {
//        background-color: $sunbeam-yellow;
//        padding: simple-calc(0.5, 0.25);
//        border-radius: simplest-calc(0.5);
//        width: simple-calc(10, 1);
//        height: simple-calc(2, 1);
//        margin : {
//            top: 0;
//            left: 0;
//        }
//        text-align: center;
//        @include flex(center, center, row);
//        $box-shadow-size: simplest-calc(0.15);
//        box-shadow: $blue-gray $box-shadow-size $box-shadow-size;
//        transition: box-shadow, margin-left, margin-top, 0.3s;
//        &:hover {
//            $hover-box-shadow-size: simplest-calc(0.25);
//            box-shadow: $blue-gray $hover-box-shadow-size $hover-box-shadow-size;
//            cursor: pointer;
//        }
//        &:active {
//            transition: box-shadow, margin-left, margin-top, 0.15s;
//            $box-shadow-and-margin: simplest-calc(0.15);
//            box-shadow: $blue-gray 0 0 $box-shadow-and-margin;
//            margin : {
//                top: $box-shadow-and-margin;
//                left: $box-shadow-and-margin;
//            }
//        }
//        .small-button-text {
//            @include basic-margin-padding(0, 0);
//        }
//    }
//}