// ss-button.component.scss
@use "../../../../styles/globals" as *;

ss-button {
    @include flex(center, center, row);
    box-sizing: border-box;
    position: relative;
    @include flex(center, center, row);
    border-radius: simplest-calc(0.5);
    transition: background-color, box-shadow, transform, 0.3s;
    padding: simplest-calc(0.5) simplest-calc(1);
    flex-basis: $ten-percent;
    h1, h2, h3, h4, h5, h6 {
        min-width: 11ch;
        @extend %soft-text-shadow;
    }
    &:hover {
        $box-shadow-size: simplest-calc(0.25);
        box-shadow: $absolute-black $box-shadow-size $box-shadow-size 0 0;
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
        $top-and-right: simplest-calc(0.25);
        transform: translate($top-and-right, $top-and-right);
    }
}