// ss-footer.component.scss
@use "../../../../styles/globals" as *;

ss-footer {
    width: 100%;
    margin-top: auto;
    padding: $quarter-percent $zero;
    box-sizing: border-box;
    footer {
        @include flex(center, center, row);
        width: 100%;
        padding: $eighth-percent 0;
        .footer-item {
            @include flex(center, center, row);
            @include size(100%, 100%);
            flex: 1;
            h6 {
                font-size: calc($h6-font-size * 0.85);
            }
            .footer-item-text {

            }
            &:last-child {
                border-left: $thin-border solid $pure-white;
            }
        }
    }
}